<div class="page-header">
    <h1 class="page-title">{{name}}</h1>
    <div class="page-header-actions">
    </div>
</div>
<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="pearls row">
                <div class="pearl done col-xs-4">
                    <span class="pearl-number">1</span>
                    <span class="pearl-title">BTC</span>
                </div>
                <div class="pearl current col-xs-4">
                    <span class="pearl-number">2</span>
                    <span class="pearl-title">ETH</span>
                </div>
                <div class="pearl col-xs-4">
                    <span class="pearl-number">3</span>
                    <span class="pearl-title">XMR</span>
                </div>
                <div class="pearl col-xs-4">
                    <span class="pearl-number">3</span>
                    <span class="pearl-title">BTC</span>
                </div>
            </div>
        </div>
    </div>

</div>