<div class="page-header">
    <h1 class="page-title">{{name}}</h1>
    <div class="page-header-actions">
    </div>
</div>
<div class="page-content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="pearls row" id="step_container">
                <div class="pearl done col-xs-4">
                    <span class="pearl-number"></span>
                    <span class="pearl-title">BTC</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="description">

        </div>
    </div>

</div>