<div class="page-header">
    <h1 class="page-title">{{name}}</h1>
    <div class="page-header-actions">
    </div>
</div>
<div class="page-content containet-fluid">
    <div class="page-content containet-fluid">
        <div class="row">
            <div class="col-md-8">
                <!-- Example Panel Tables -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">My holdings</h3>
                    </div>
                    <ul class="list-group list-group-bordered">
                        <li class="list-group-item">
                            <div class="col-sm-2"><h3 style="margin-top: 5px;">ETH</h3></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-3" style="text-align: right"><h4>5.72ETH</h4><span>0.01BTC</span></div>
                            <div class="col-sm-3" style="text-align: right"><h4>+52%</h4><span>+3%</span></div>

                        </li>
                        <li class="list-group-item">
                            <div class="col-sm-2"><h3 style="margin-top: 5px;">DOGE</h3></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-3" style="text-align: right"><h4>5.72DOGE</h4><span>0.01BTC</span></div>
                            <div class="col-sm-3" style="text-align: right"><h4>+52%</h4><span>+3%</span></div>

                        </li>
                        <li class="list-group-item">
                            <div class="col-sm-2"><h3 style="margin-top: 5px;">DASH</h3></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-3" style="text-align: right"><h4>5.72DASH</h4><span>0.01BTC</span></div>
                            <div class="col-sm-3" style="text-align: right"><h4>+52%</h4><span>+3%</span></div>

                        </li>
                    </ul>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-actions">
                            <button type="button" class="btn btn-flat btn-primary btn-block" (click)="goToMarket()">Go to Market</button>
                        </div>
                        <h3 class="panel-title">Want to buy/sell more currencies?</h3>
                    </div>
                </div>
                <!-- End Example Panel Tables -->
            </div>
            <div class="col-md-4">
                <div class="card card-shadow" id="chartLinePie">
                    <div class="card-block p-0">
                        <div class="bg-red-600 white p-30">
                            <div class="font-size-20 clearfix">
                                My Balance
                                <span class="float-right">
                                    <i class="icon md-caret-up" aria-hidden="true"></i> <b>2.032 BTC</b>
                  </span>
                            </div>
                            <div class="font-size-14 red-200 clearfix">
                                GBP Est: 2021£
                                <span class="float-right">+0.232(+12.8%)</span>
                            </div>
                            <div class="ct-chart chart-line h-100"></div>
                        </div>
                        <div class="p-30">
                            <div class="row no-space">
                                <div class="col-7">
                                    <p>
                                        <span class="icon md-circle cyan-600 mr-5"></span>35% ETH</p>
                                    <p class="mb-20">
                                        <span class="icon md-circle red-600 mr-5"></span>55% BTC</p>
                                    <p class="mb-20">
                                        <span class="icon md-circle red-600 mr-5"></span>5% DASH</p>
                                    <p class="mb-20">
                                        <span class="icon md-circle red-600 mr-5"></span>5% DOGE</p>
                                </div>
                                <div class="col-5">
                                    <div class="ct-chart chart-pie" style="height: 129px;">
                                        <div class="vertical-align text-center" style="height:100%; width:100%; position:absolute; left:0; top:0;">
                                            <div class="font-size-20  vertical-align-middle" style="line-height:1.1 ">
                                                <div>2.032</div>
                                                <div>BTC</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>