<div class="page-header">
    <h1 class="page-title">{{name}}</h1>
    <div class="page-header-actions">
    </div>
</div>
<div class="page-content containet-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">All my transactions</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>hagso-1gugk-hdgkh-foi23-4u124</td>
                        <td>BTC (0.012BTC)</td>
                        <td>ETH (5.1223ETH)</td>
                        <td>2017-04-02 01:30+01:00</td>
                    </tr>
                    <tr>
                        <td>hagso-1gugk-hdgkh-foi23-4u124</td>
                        <td>BTC (0.012BTC)</td>
                        <td>ETH (5.1223ETH)</td>
                        <td>2017-04-02 01:30+01:00</td>
                    </tr>
                    <tr>
                        <td>hagso-1gugk-hdgkh-foi23-4u124</td>
                        <td>BTC (0.012BTC)</td>
                        <td>ETH (5.1223ETH)</td>
                        <td>2017-04-02 01:30+01:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>