<div class="page-content containet-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1 class="page-title">{{name}}</h1>
            <br>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" role="presentation"><a class="nav-link" href="javascript:void(0)" (click)="showTicker('ETH')"><i class="icon md-home" aria-hidden="true"></i> ETH</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="javascript:void(0)" (click)="showTicker('DASH')"><i class="icon md-account" aria-hidden="true"></i> DASH</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="javascript:void(0)" (click)="showTicker('DOGE')"><i class="icon md-home" aria-hidden="true"></i> DOGE</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="javascript:void(0)" (click)="showTicker('LTC')"><i class="icon md-home" aria-hidden="true"></i> LTC</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="javascript:void(0)" (click)="showTicker('XMR')"><i class="icon md-home" aria-hidden="true"></i> XMR</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="javascript:void(0)" (click)="showTicker('ZEC')"><i class="icon md-home" aria-hidden="true"></i> ZEC</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="javascript:void(0)" (click)="showTicker('XRP')"><i class="icon md-home" aria-hidden="true"></i> XRP</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="javascript:void(0)" (click)="showTicker('STEEM')"><i class="icon md-home" aria-hidden="true"></i> STEEM</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet name="ticker"></router-outlet>
        </div>
    </div>
</div>