<h3>{{currency}}</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-bordered panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Buy {{currency}}</h3>
            </div>
            <div class="alert alert-success" role="alert">
                Lowest ask: <a class="alert-link" href="javascript:void(0)">####</a>.
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{currency}} to buy">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-success waves-effect waves-light">Buy</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-bordered panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Sell {{currency}}</h3>
            </div>
            <div class="alert alert-danger" role="alert">
                Highest bid: <a class="alert-link" href="javascript:void(0)">####</a>.
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{currency}} to sell">
                    <span class="input-group-btn">
                          <button type="button" class="btn btn-danger waves-effect waves-light">Sell</button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>